{% extends 'base.html.twig' %}

{% block title %}Bienvenue au wild circus!{% endblock %}

{% block body %}
    <div class="container-fluid p-0 home">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner slider-container">
                <div class="carousel-item active">
                    <img src="{{ asset('build/images/circus_party.jpg') }}" class="d-block w-100" alt="circus">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('build/images/clown.jpg') }}" class="d-block w-100" alt="clown">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('build/images/purple_wheel.jpg') }}" class="d-block w-100" alt="big wheel">
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 p-O m-0 about">
        <div class="container text-center py-5 px-5">
            <h1 class="mb-4">Qui sommes nous ?</h1>
            <p>Bienvenue sur le site du Wild Circus ! Nés en 1990 en France, nous sommes aujourd'hui devenus incontournables
                dans l'univers du divertissement. Nous vivons avec notre temps aussi nous proposons des shows adaptés à celui-ci,
                mais nous avons aussi des artistes traditionnels comme nos bien aimés clouns et jongleurs par exemple.
                Vous trouverez tous nos évènements à venir ainsi que tout nos performers en seconde et troisième page du site,
                si vous avez des questions vous pouvez nous contacter via la page contact.
                En espérant cvous retrouver dans un de nos prochains spectacle !
            </p>
        </div>
    </div>
{% endblock %}
