{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="crud-home-background">
        <div class="container row d-flex justify-content-center mx-auto admin-home">
            <div class="card border-dark col-lg-6 m-4 admin-card" style="max-width: 18rem;">
                <a href="{{ path('event_index') }}">
                    <div class="card-body text-dark text-center">
                        <p class="card-text">Gérer les évènements</p>
                    </div>
                </a>
            </div>
            <div class="card border-dark col-lg-6 m-4 admin-card" style="max-width: 18rem;">
                <a href="{{ path('act_index') }}">
                    <div class="card-body text-dark text-center">
                        <p class="card-text">Gérer les performances</p>
                    </div>
                </a>
            </div>
            <div class="card border-dark col-lg-6 m-4 admin-card" style="max-width: 18rem;">
                <a href="{{ path('price_index') }}">
                    <div class="card-body text-dark text-center">
                        <p class="card-text">Gérer<br> les prix</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
