{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="crud-home-background">
        <div class="container row d-flex justify-content-center mx-auto admin-home">
            <div class="card border-dark col-lg-6 m-4 admin-card" style="max-width: 18rem;">
                <a href="">
                    <div class="card-body text-dark text-center">
                        <p class="card-text">Ajouter un évènement</p>
                    </div>
                </a>
            </div>
            <div class="card border-dark col-lg-6 m-4 admin-card" style="max-width: 18rem;">
                <a href="">
                    <div class="card-body text-dark text-center">
                        <p class="card-text">Ajouter une performance</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
