{% extends 'base.html.twig' %}

{% block title %}Nos évènements{% endblock %}

{% block body %}
    <div class="container mx-auto py-5 contact">
        <div class="text-center mb-5">
            <h1>Contact us !</h1>
        </div>
        <div class="row mx-auto d-flex justify-content-center">
            <div class="col-lg-8 mx-2">
                {{ form_start(form) }}
                <div class="mx-2">
                    {{ form_widget(form) }}
                </div>
                <div class="mx-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-success">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
