.act-index {
  min-height: 100vh;
  .fa-eye {
    color: $green;
    font-size: 1.3rem;
  }
  .fa-pencil-alt {
    color: $green;
    font-size: 1.3rem;
  }
  th {
    font-family: $pacifico;
  }
  td {
    font-family: $roboto;
  }
}
.act-show {
  margin-top: 7rem;
  min-height: 100vh;
  h1 {
    font-family: $pacifico;
    color: $green;
  }
}
.act-edit {
  margin-top: 7rem;
  min-height: 100vh;
}
.act-new {
  margin-top: 7rem;
  min-height: 100vh;
  h1 {
    font-family: $pacifico;
    color: $green;
  }
}