.crud-home-background {
  background-color: $green;
  min-height: 100vh;
  .admin-home {
    padding-top: 15rem;
    .admin-card {
      background-color: $lightBlack;
      border: none;
      height: 10rem;
      p {
        font-family: $pacifico;
        font-size: 2rem;
        color: $white;
      }
      a {
        text-decoration: none;
      }

    }
  }
}