nav {
  .brand {
    font-family: $pacifico;
    font-size: 2rem;
    color: $black;
  }
  .navbar-nav {
    .nav-link {
      color: $green;
    }
  }
  .nav-list {
    a {
      font-family: $pacifico;
      font-size: 1.4rem;
    }
  }
  .admin {
    .fa-user-tie {
      font-size: 1.5rem;
      color: $green;
    }
    .fa-times-circle {
      font-size: 1.5rem;
      color: $black;
    }
  }
  background-color: $white;
}