.price-index {
  .fa-eye {
    color: $green;
    font-size: 1.3rem;
  }
  .fa-pencil-alt {
    color: $green;
    font-size: 1.3rem;
  }
  th {
    font-family: $pacifico;
  }
  td {
    font-family: $roboto;
  }
}
.price-show {
  margin-top: 7rem;
  h1 {
    font-family: $pacifico;
    color: $green;
  }
}
.price-edit {
  margin-top: 7rem;
  h1 {
    font-family: $pacifico;
    color: $green;
  }
}
.price-new {
  margin-top: 7rem;
  h1 {
    font-family: $pacifico;
    color: $green;
  }
}