.event-background {
  .search-event {
    padding-top: 6rem;
  }
  background-color: $white;
  .show-events {
    h1 {
      font-family: $pacifico;
      font-size: 4rem;
      color: $lightBlack;
    }
    img {
      border-radius: 7px;
      height: 20rem;
      width: auto;
    }
    h2 {
      font-family: $pacifico;
      color: $green;
      font-size: 2rem;
    }
    p {
      font-family: $roboto;
    }
  }
  .page-item.active {
    .page-link {
      background-color: $green;
      border-color: $green;
      color: $white;
    }
  }
  .page-item {
    .page-link {
      color: $green;
    }
  }
}