{% extends 'base.html.twig' %}

{% block title %}Créer une performance{% endblock %}

{% block body %}
    <div class="container row mx-auto d-flex justify-content-center py-3">
        <div class="col-lg-9">
            <h1>Créer une performance</h1>
            {{ include('act/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
